<form action="/word_input">
  <div class="form-group">
    <label for="word1">Type a word!</label>
    <input type="text" name="word1">
    <label for="word2">Type any number of words!</label>
    <input type="text" name="word2">
  </div>
  <button type="submit">Check</button>
</form>
